@charset "UTF-8";
html,
body,
nav,
ul,
ol {
  margin: 0;
  padding: 0;
}

.theme-toggle {
  text-align: right;
}
.theme-toggle .dark {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.theme-toggle .light {
  display: none;
  width: 24px;
  height: 24px;
}
.theme-toggle .light svg {
  fill: white;
}
.theme-toggle img {
  position: absolute;
  top: 3px;
  right: 0.5em;
}

body.dark-theme .light {
  display: block;
}
body.dark-theme .dark {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding-top: 0.35em;
  padding-bottom: 0.25em;
  background: #d3d3d3;
  font-size: 1.25em;
}
nav ul {
  list-style-type: none;
  display: none;
  padding-top: 2em;
}
nav ul li {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
nav ul li a {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-weight: bold;
}
nav ul.active {
  display: block;
  height: 100vh;
}
nav .logo {
  display: block;
  width: 20px;
  height: 20px;
}
nav .logo img {
  position: absolute;
  top: 5px;
  left: 0.5em;
  width: 20px;
  height: 20px;
}
nav .logo .dark {
  display: block;
}
nav .logo .light {
  display: none;
}
@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1em;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: unset;
    padding-top: 0;
  }
  nav ul li {
    padding-top: 0;
    padding-bottom: 0;
  }
  nav .logo {
    display: none;
  }
}

body.dark-theme nav {
  background: #1E1E1E;
}
body.dark-theme nav .logo .dark {
  display: none;
}
body.dark-theme nav .logo .light {
  display: block;
}

.theme-toggle {
  text-align: right;
}
.theme-toggle .dark {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.theme-toggle .light {
  display: none;
  width: 24px;
  height: 24px;
}
.theme-toggle .light svg {
  fill: white;
}
.theme-toggle img {
  position: absolute;
  top: 3px;
  right: 0.5em;
}

body.dark-theme .light {
  display: block;
}
body.dark-theme .dark {
  display: none;
}

.button, footer a, nav ul li a {
  color: #577EB5;
  background: none;
  text-decoration: none;
}
.button:hover, footer a:hover, nav ul li a:hover {
  transition: transform 0.4s ease-in-out;
  color: #90A2D4;
}
.button:hover:hover, footer a:hover:hover, nav ul li a:hover:hover {
  transform: scale(1.2);
}

.theme-toggle {
  text-align: right;
}
.theme-toggle .dark {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.theme-toggle .light {
  display: none;
  width: 24px;
  height: 24px;
}
.theme-toggle .light svg {
  fill: white;
}
.theme-toggle img {
  position: absolute;
  top: 3px;
  right: 0.5em;
}

body.dark-theme .light {
  display: block;
}
body.dark-theme .dark {
  display: none;
}

.image {
  background: #f7f7f7;
  border-radius: 6px;
  max-width: 150px;
  max-height: 150px;
}
.image.border {
  border: 3px solid #d3d3d3;
}
.image.round {
  border-radius: 50%;
}
@media (min-width: 768px) {
  .image {
    max-width: 200px;
    max-height: 200px;
  }
}
@media (min-width: 1024px) {
  .image {
    max-width: 250px;
    max-height: 250px;
  }
}

body.dark-theme .image {
  background: #232323;
}
body.dark-theme .image.border {
  border: 3px solid #1E1E1E;
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-contents {
  white-space: nowrap;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  color: #fd2965;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 20%;
}
.tooltip .tooltip-contents::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fd2965 transparent transparent transparent;
}
.tooltip .bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.info-grid {
  padding-top: 0.5em;
  margin: 0 auto;
}
.info-grid .subtitle {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1em;
}
.info-grid .subtitle .icon {
  display: block;
  padding-top: 0.5em;
}
.info-grid .left {
  padding-right: 0.5em;
}
.info-grid .right {
  padding-left: 0.5em;
}
@media (min-width: 768px) {
  .info-grid .subtitle {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }
  .info-grid .subtitle .icon {
    display: inline;
    padding-top: 0;
  }
  .info-grid .left {
    padding-right: 1.5em;
  }
  .info-grid .right {
    padding-left: 1.5em;
  }
}

.about-box {
  margin: 0 auto;
}
.about-box .left, .about-box .right {
  margin-top: 3em;
}
.about-box .avatar {
  margin-top: 0;
}
.about-box .info .special {
  margin-top: 1em;
  margin-bottom: 0.25em;
}
.about-box .info .special + p {
  margin: 0;
}
.about-box .biography {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  .about-box {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .about-box .left {
    flex: 1;
    padding-top: 1em;
    padding-right: 2em;
  }
  .about-box .right {
    flex: 1;
    padding-left: 2em;
  }
  .about-box .right h2 {
    display: none;
  }
  .about-box .biography {
    padding: 0;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .about-box {
    max-width: 700px;
  }
  .about-box .right {
    flex: 2;
  }
}

.project-card {
  background: #f7f7f7;
  width: 275px;
  height: 210px;
  margin: 0 1em 2.5em;
  padding-bottom: 2em;
  border-radius: 6px;
  text-align: center;
  position: relative;
}
.project-card h2 {
  margin-bottom: 0.25em;
}
.project-card img {
  width: 100%;
  width: 100%;
  max-width: 75px;
  max-height: 75px;
}
.project-card .avatar {
  display: inline-block;
  width: 75px;
  text-align: center;
  position: relative;
  top: 0.75em;
}
.project-card .details {
  display: inline-block;
  width: 250px;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  .project-card {
    transition: transform 0.4s ease-in-out;
    width: 520px;
    height: 200px;
    margin: 0 auto 2.5em;
    text-align: left;
  }
  .project-card:hover {
    transform: scale(1.1);
  }
  .project-card h2 {
    font-size: 30px;
  }
  .project-card img {
    max-width: 150px;
    max-height: 150px;
  }
  .project-card .avatar {
    width: 200px;
    top: 1.5em;
  }
  .project-card .avatar.screenshot {
    top: 4.15em;
  }
  .project-card .details {
    width: 300px;
    font-size: 1em;
    position: absolute;
    top: 0;
  }
}

body.dark-theme .project-card {
  background: #232323;
}

.frame-carousel {
  display: flex;
  height: calc(100vh - 3.5em);
  overflow-x: scroll;
  margin-top: 2em;
}
.frame-carousel .card {
  height: calc(100vh - 64px);
  width: 100%;
}
@media (min-width: 1024px) {
  .frame-carousel .card {
    position: fixed;
    top: 2em;
    height: calc(100% - 3.5em);
    width: 25%;
    left: unset;
    overflow-x: unset;
  }
  .frame-carousel .card.zero {
    left: 0;
  }
  .frame-carousel .card.one {
    left: 25%;
  }
  .frame-carousel .card.two {
    left: 50%;
  }
  .frame-carousel .card.three {
    left: 75%;
  }
  .frame-carousel .card.four {
    left: 100%;
  }
}

.theme-toggle {
  text-align: right;
}
.theme-toggle .dark {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.theme-toggle .light {
  display: none;
  width: 24px;
  height: 24px;
}
.theme-toggle .light svg {
  fill: white;
}
.theme-toggle img {
  position: absolute;
  top: 3px;
  right: 0.5em;
}

body.dark-theme .light {
  display: block;
}
body.dark-theme .dark {
  display: none;
}

.theme-toggle {
  text-align: right;
}
.theme-toggle .dark {
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 3px;
}
.theme-toggle .light {
  display: none;
  width: 24px;
  height: 24px;
}
.theme-toggle .light svg {
  fill: white;
}
.theme-toggle img {
  position: absolute;
  top: 3px;
  right: 0.5em;
}

body.dark-theme .light {
  display: block;
}
body.dark-theme .dark {
  display: none;
}

.button, footer a, nav ul li a {
  color: #577EB5;
  background: none;
  text-decoration: none;
}
.button:hover, footer a:hover, nav ul li a:hover {
  transition: transform 0.4s ease-in-out;
  color: #90A2D4;
}
.button:hover:hover, footer a:hover:hover, nav ul li a:hover:hover {
  transform: scale(1.2);
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-contents {
  white-space: nowrap;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  color: #fd2965;
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: 20%;
}
.tooltip .tooltip-contents::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fd2965 transparent transparent transparent;
}
.tooltip .bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

footer {
  background: #d3d3d3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  max-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
footer a img {
  width: 18px;
  height: 18px;
  background-color: transparent;
}
footer span {
  font-weight: 700;
  padding-left: 0.5em;
}
footer .built-with, footer .banner {
  display: none;
}
footer .banner img {
  padding-left: 0.5em;
  vertical-align: bottom;
}
footer .icon {
  padding: 0 0.5em;
  padding-top: 0.35em;
  padding-bottom: 0.05em;
}
footer .icon:hover {
  padding-top: 0.1em;
  padding-bottom: 0.25em;
}
@media (min-width: 768px) {
  footer {
    justify-content: space-between;
  }
  footer .built-with, footer .banner {
    display: block;
  }
}

body.dark-theme footer {
  background: #1E1E1E;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background: #e5e5e5;
  color: #49555F;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  color: #577EB5;
}
h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
  margin-top: 1em;
  margin-bottom: 1em;
}
@media (min-width: 1024px) {
  h1.heading:hover, h2.heading:hover, h3.heading:hover, h4.heading:hover, h5.heading:hover, h6.heading:hover {
    transition: transform 0.4s ease-in-out;
    color: #90A2D4;
  }
  h1.heading:hover:hover, h2.heading:hover:hover, h3.heading:hover:hover, h4.heading:hover:hover, h5.heading:hover:hover, h6.heading:hover:hover {
    transform: scale(1.2);
  }
}

a {
  color: #fd2965;
  text-decoration: none;
}
a:hover {
  color: #ed0244;
}

p a {
  font-style: italic;
}

.celebrate:hover::before {
  content: "🎉 ";
}
.celebrate:hover::after {
  content: " 🎉";
}

.content {
  margin: 0 auto;
  padding: 1.5em 0;
  position: relative;
}
.content .back-to-top {
  padding-left: calc(50% - (50px / 2) + 5px);
  padding-right: calc(50% - (50px / 2) + 5px);
}
.content .back-to-top img {
  width: 50px;
  height: 50px;
  position: relative;
}

.loading {
  position: absolute;
  top: 33.33%;
  left: 0;
  right: 0;
  font-size: 4em;
  z-index: -1;
}

.profile {
  margin-top: 3em;
}
.profile img {
  max-width: 150px;
  max-height: 150px;
}

.special {
  color: #fd2965;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.dark-theme {
  background: #3F3F3F;
  color: #D3D9DD;
}

/*# sourceMappingURL=main.css.map */
