.about-box {
  margin: 0 auto 2em;
  padding-left: 2em;
  padding-right: 2em;
  h2 {
    text-align: center;
  }
  .avatar {
    margin: .25em auto .5em;
  }
  .info {
    .heading {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .special {
      margin-top: 1em;
      margin-bottom: .25em;
    }
    .special + p {
      margin: 0;
    }
  }
  .skills {
    text-align: center;
    list-style: none;
    li {
      padding: .5em 0;
    }
  }
  @include screen($tablet) {
    max-width: 700px;
    text-align: left;
    font-size: 1.1em;
    .skills {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      list-style: inside;
      padding-right: 6em;
      padding-bottom: 2em;
    }
  }
}

