.about-box {
  margin: 4em auto;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  .avatar {
    margin: .25em auto .5em;
  }
  .back-to-top {
    text-align: center;
    a {
      display: block;
    }
  }
  .info {
    padding-bottom: 2em;
    h2 {
      margin-top: 1.5em;
    }
    .special {
      margin-top: 1em;
      margin-bottom: .25em;
    }
    .special + p {
      margin: 0;
    }
  }
  @include screen($tablet) {
    max-width: 700px;
    text-align: left;
    font-size: 1.1em;
  }
}
