.about-box {
  margin: 0 auto 2em;
  padding-left: 2em;
  padding-right: 2em;
  h2 {
    text-align: center;
  }
  .avatar {
    margin: .25em auto .5em;
  }
  .info {
    .heading {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
    .special {
      margin-top: 1em;
      margin-bottom: .25em;
    }
    .special + p {
      margin: 0;
    }
  }
  .skills {
    .skill {
      border: 1px solid $nav-color;
      border-radius: 6px;
      font-size: 1.5rem;
      padding: 0.75rem 0.5rem;
      margin-bottom: 1.5rem;
      max-width: 250px;
      text-align: center;
      img {
        vertical-align: middle;
      }
      span {
        display: block;
        margin-bottom: 12px;
      }
      &:hover {
        background: darken($color: $background-color, $amount: 10);
        border-color: black;
      }
    }
  }
  @include screen($tablet) {
    max-width: 700px;
    text-align: left;
    font-size: 1.1em;
    .skills {
      .skill {
        margin: 0 0.5rem 2.5em;
      }
    }
  }
}

body.dark-theme {
  .about-box {
    .skills {
      .skill {
        &:hover {
          background: lighten($color: $background-color--dark, $amount: 18);
          border-color: white;
        }
      }
    }
  }
}
