@import '../base/_colors.scss';
@import '../mixins/_grow.scss';

.button {
  color: $primary-color;
  background: $button-color;
  text-decoration: none;
  &:hover{
    @include grow;
    color: $secondary-color;
  }
}
