@import '../mixins/_screen';

.theme-toggle {
  text-align: right;
  margin-right: 4px;
  .dark {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 3px;
  }
  .light {
    display: none;
    width: 36px;
    height: 36px;
    svg {
      fill: white;
    }
  }
  img {
    position: absolute;
    top: 8px;
    right: .5em;
  }
  @include screen($tablet) {
    img {
      right: .9em;
    }
  }
}

body.dark-theme {
  .light {
    display: block;
  }
  .dark {
    display: none;
  }
}
