.tooltip {
  position: relative;
  .tooltip-contents {
    white-space: nowrap;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    color: $tertiary-color;
    position: absolute;
    z-index: 1;
    bottom: 200%;
    left: 20%;
    // arrow
    &::after{
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $tertiary-color transparent transparent transparent;
    }
  }

  // special effects
  .bounce {
   animation: bounce 2s infinite;
  }
  @keyframes bounce {
   0%, 100% {transform: translateY(0);}
   50% {transform: translateY(-20px);}
  }
}
