// base
@import '_reset';
@import '_colors';

// mixins
@import '../mixins/_screen';
@import '../mixins/_grow';

// components
@import '../components/_nav';
@import '../components/_button';
@import '../components/_image';
@import '../components/_tooltip';
@import '../components/_info-grid';
@import '../components/_about-box';
@import '../components/_project-card';
@import '../components/_frame-carousel';
@import '../components/_footer';

// antialias
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  background: $background-color;
  color: $text-color;
  text-align: center;
  overscroll-behavior: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Arial;
  color: $primary-color;
  &.heading{
    margin-top: 1em;
    margin-bottom: 1em;
    @include screen($laptop) {
      &:hover{
        @include grow;
        color: $secondary-color;
      }
    }
  }
}

a {
  color: $tertiary-color;
  text-decoration: none;
  &:hover {
    color: $quaternary-color;
  }
}

img {}

p {
  a {
    font-style: italic;
  }
}

.celebrate {
  &:hover{
    &::before {
      content: '🎉 ';
    }
    &::after {
      content: ' 🎉';
    }
  }
}

.content {
  margin: 0 auto;
  padding: 1.5em 0;
  position: relative;
  .back-to-top {
    padding-left: calc(50% - (50px / 2) + 5px);
    padding-right: calc(50% - (50px / 2) + 5px);
    img {
      width: 50px;
      height: 50px;
      position: relative;
    }
  }
}

.loading {
  position: absolute;
  top: 33.33%;
  left: 0;
  right: 0;
  font-size: 4em;
  z-index: -1;
}

.profile {
  margin-top: 4em;
  img {
    max-width: 175px;
    max-height: 175px;
  }
  @include screen($tablet) {
    h1 {
      font-size: 3em;
    }
    img {
      max-width: 200px;
      max-height: 200px;
    }
  }
}

.quote {
  @include screen($tablet) {
    font-size: 1.2em;
  }
}

.special {
  color: $tertiary-color;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include screen($laptop) {
  }
}

body.dark-theme {
  background: $background-color--dark;
  color: $text-color--dark;
}
