@import '../components/_theme-toggle';

$background-color--light: #ffffff;
$foreground-color--light: #F7F7F7;
$nav-color--light: #999999;
$text-color--light: #363E45;

$background-color--dark: #1a1a1a;
$foreground-color--dark: #333333;
$nav-color--dark: #1a1a1a;
$text-color--dark: #CCCCCC;

$background-color: $background-color--light;
$foreground-color: $foreground-color--light;
$nav-color: $nav-color--light;
$text-color: $text-color--light;

// blue
$primary-color: #0084C2;
$secondary-color: #0FB3FF;

// links
$link-color: $primary-color;
$link-color--dark: #fd2965;

// components
$button-color: none;
